*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea/dictionaires/
/.idea/dictionaries/
.idea/markdown-navigator.xml
.idea/markdown-navigator/**
.DS_Store
/build
/captures

**/*.apk

projectFilesBackup/**
projectFilesBackup/.idea/workspace.xml

